body {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    /* height: 500px; */
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center; /*along the MAIN AXIS*/
    /* flex-wrap: wrap-reverse; */
    align-items: flex-start ; /*along the CROSS AXIS, have the 'baseline'*/
   /* flex-wrap: wrap; */
    
}

#container div{
    width: 200px;
    height: 200px;
    flex-basis: 600px;
    

}

div:nth-of-type(1) {
    /* flex-shrink: 0; */
    flex-shrink: 0;
}




/* 
div:nth-of-type(3) {
    align-self: center; /
} */

