body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #151b29;
}

button{
    background: none;
    padding: 1em 1.8em;
    color: #ffa260;
    border:2px solid;
    font-size: 1em;
    transition: .2s;
}

button:hover{
    transform: translate(0,-0.25em);
    border-color: #f1ff5c;
    color: white;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    cursor: pointer;
}